body
{
	margin: 0px;
	padding: 0px;
	background-color: #303030;
}

#macho-text
{
	margin-left: 25%;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 48px;
	text-shadow: 2px 2px 5px darkgreen;
	color: green;
}

#content
{
	padding-top: 10px;
	background-color: #4b4b4b;
	padding-bottom: 10px;
	padding-left: 15%;
}

#news
{
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 32px;
	color: pink;
}

#about
{
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 24px;
	color: goldenrod;
}

#news-entry-omg
{
	font-size: 24px;
	color: lightblue;
	font-family: "Lucida Console", "Courier New", monospace;
}

#news-entry
{
	font-size: 24px;
	color: rgb(90, 125, 137);
	font-family: "Lucida Console", "Courier New", monospace;
}

#features
{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 32px;
    color: pink;
}

#feature
{
	font-size: 24px;
	color: rgb(151, 153, 245);
	font-family: "Lucida Console", "Courier New", monospace;
}

#footer
{
	padding: 1%;
	background-color: #131313;
}

#foot-href
{
	font-size: 20px;
	color: rgb(119, 119, 119);
	font-family: "Lucida Console", "Courier New", monospace;
}
